<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tomatomall.mapper.AccountMapper">
    <select id="findByUsername" resultType="Account">
        SELECT * FROM users WHERE username = #{username}
    </select>
    
    <insert id="insert" parameterType="Account">
        INSERT INTO users (username, password, name, avatar, role, telephone, email, location)
        VALUES (#{username}, #{password}, #{name}, #{avatar}, #{role}, #{telephone}, #{email}, #{location})
    </insert>
    
    <update id="update" parameterType="Account">
        UPDATE users
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="location != null">location = #{location},</if>
        </set>
        WHERE username = #{username}
    </update>
    
    <select id="existsByUsername" resultType="boolean">
        SELECT COUNT(*) FROM users WHERE username = #{username}
    </select>
</mapper>